Body{
  background-image: linear-gradient(to left bottom, #010101, #020202, #030303, #030303, #040404, #050505, #060606, #070707, #090909, #0a0a0a, #0c0c0c, #0d0d0d);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 8em;
  color: #fff;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

@font-face {
  font-family: AbstractGroovy;
  src: url(../assets/Abstract/abstractgroovy-k7zdy-webfont.woff) format("woff");
}

.abstract{
  font-family: AbstractGroovy;
}

@font-face {
  font-family: AnthonyHunter;
  src: url(../assets/Anthony/Anthony\ Hunter.woff) format("woff"), url(../assets/Anthony/Anthony\ Hunter\ Italic.woff) format("woff");
}

.anthony{
  font-family: AnthonyHunter;
}

@font-face {
  font-family: AquaWebFont;
  src: url(../assets/Aqua/aqua-webfont.woff) format("woff");
}

.aqua{
  font-family: AquaWebFont;
}

@font-face {
  font-family: Auralyess;
  src: url(../assets/Auralyess/Auralyess\ Free\ Trial-5cf1.woff) format("woff");
}

.auralyess{
  font-family: Auralyess;
}

@font-face {
  font-family: Bsrubansomdej;
  src: url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-Black.woff) format("woff"), url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-Bold.woff) format("woff"), url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-Regular.woff) format("woff"), url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-SemiBold.woff) format("woff"), url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-BoldOblique.woff) format("woff"), url(../assets/Bsrubansomdej/BSRUBANSOMDEJ-Oblique.woff) format("woff");
}

.bsrubansomdej{
  font-family: Bsrubansomdej;
}

@font-face {
  font-family: Canaro;
  src: url(../assets/Canaro/Canaro-LightDEMO.woff) format("woff"), url(../assets/Canaro/Canaro-LightItalicDEMO.woff) format("woff");
}

.canaro{
  font-family: Canaro;
}

@font-face {
  font-family: Cansu;
  src: url(../assets/Cansu/Cansu-Bold.woff) format("woff"), url(../assets/Cansu/Cansu-Regular.woff) format("woff"), url(../assets/Cansu/Cansu-Light.woff) format("woff"), url(../assets/Cansu/Cansu-Outline.woff) format("woff"), url(../assets/Cansu/Cansu-Round.woff) format("woff");
}

.cansu{
  font-family: Cansu;
}

@font-face {
  font-family: Devant;
  src: url(../assets/Devant/Devant-Medium.woff) format("woff"), url(../assets/Devant/Devant\ Horgen.woff) format("woff");
}

.devant{
  font-family: Devant;
}

@font-face {
  font-family: Galilei;
  src: url(../assets/Galilei/galileiscript-webfont.woff) format("woff"), url(../assets/Galilei/GalileiScript.woff) format("woff");
}

.galilei{
  font-family: Galilei;
}

@font-face {
  font-family: Galileo;
  src: url(../assets/Galileo/galileo-regular-webfont.woff) format("woff"), url(../assets/Galileo/Galileo-regular.woff) format("woff");
}

.galileo{
  font-family: Galileo;
}

@font-face {
  font-family: HelloAutumn;
  src: url(../assets/Hello_Autumn/hello_autumn-webfont.woff) format("woff");
}

.helloautumn{
  font-family: HelloAutumn;
}

@font-face {
  font-family: HoneyBunney;
  src: url(../assets/HoneyBunney/Honey\ Bunney-1063.woff) format("woff"), url(../assets/HoneyBunney/HoneyBunney\ Sans-5349.woff) format("woff");
}

.honeybunney{
  font-family: HoneyBunney;
}

@font-face {
  font-family: JacquesPro;
  src: url(../assets/JacquesPro/JacquesPro-Bold.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-ExtraBold.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-ExtraLight.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-Light.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-Medium.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-Regular.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-SemiBold.woff) format("woff"), url(../assets/JacquesPro/JacquesPro-Thin.woff) format("woff");
}

.jacquespro{
  font-family: JacquesPro;
}

@font-face {
  font-family: Marinfordaf;
  src: url(../assets/Marinfordaf/marinfordaf.woff) format("woff");
}

.marinfordaf{
  font-family: Marinfordaf;
}

@font-face {
  font-family: Northen;
  src: url(../assets/Northen/NORTHEN.woff) format("woff");
}

.northen{
  font-family: Northen;
}

@font-face {
  font-family: Orlande;
  src: url(../assets/Orlande/orlande-webfont.woff) format("woff"), url(../assets/Orlande/Orlande.woff) format("woff");
}

.orlande{
  font-family: Orlande;
}

@font-face {
  font-family: RoclettePro;
  src: url(../assets/RoclettePro/RoclettePro-Bold.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-ExtraBold.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-ExtraLight.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-Light.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-Medium.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-Normal.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-SemiBold.woff) format("woff"), url(../assets/RoclettePro/RoclettePro-Thin.woff) format("woff");
}

.roclettepro{
  font-family: RoclettePro;
}

@font-face {
  font-family: RocletteProItalic;
  src: url(../assets/RocletteProItalic/RocletteProItalic-BoldItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-EBoldItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-ELightItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-MediumItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-NormalItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-SBoldItalic.woff) format("woff"), url(../assets/RocletteProItalic/RocletteProItalic-ThinItalic.woff) format("woff");
}

.rocletteproitalic{
  font-family: RocletteProItalic;
}

@font-face {
  font-family: RocletteProLine;
  src: url(../assets/RocletteProLine/RocletteProLine-Bold.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-EBold.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-ELight.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-Light.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-Medium.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-Normal.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-SBold.woff) format("woff"), url(../assets/RocletteProLine/RocletteProLine-Thin.woff) format("woff");
}

.rocletteproline{
  font-family: RocletteProLine;
}

@font-face {
  font-family: RocletteProLineItalic;
  src: url(../assets/RocletteProLineItalic/RocletteProLineItalic-Bold.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-EBold.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-ELight.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-Light.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-Medium.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-Normal.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-SBold.woff) format("woff"), url(../assets/RocletteProLineItalic/RocletteProLineItalic-Thin.woff) format("woff");
}

.rocletteprolineitalic{
  font-family: RocletteProLineItalic;
}

@font-face {
  font-family: Thorin;
  src: url(../assets/Thorin/thorin-webfont.woff) format("woff");
}

.thorin{
  font-family: Thorin;
}

@font-face {
  font-family: TrinidadNeue;
  src: url(../assets/TrinidadNeue/trinidad_neue_black-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_black_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_bold-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_bold_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_light-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_light_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_regular-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_regular_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_semibold-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_semibold_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_thin-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_thin_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_ultralight-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_ultlight_oblique-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_ultrabold-webfont.woff) format("woff"), url(../assets/TrinidadNeue/trinidad_neue_ultrabold_oblique-webfont.woff) format("woff");
}

.trinidadneue{
  font-family: TrinidadNeue;
}

@font-face {
  font-family: Truelove;
  src: url(../assets/Truelove/truelove-webfont.woff) format("woff");
}

.truelove{
  font-family: Truelove;
}

@font-face {
  font-family: Typedepot;
  src: url(../assets/Typedepot/typedepot_-_corsa_grotesk_regular-webfont.woff) format("woff"), url(../assets/Typedepot/typedepot_-_corsa_grotesk_thin-webfont.woff) format("woff");
}

.typedepot{
  font-family: Typedepot;
}

@font-face {
  font-family: Umbasoft;
  src: url(../assets/Umbasoft/umbasoft-scbolddemo-webfont.woff) format("woff"), url(../assets/Umbasoft/umbasoft-sclightdemo-webfont.woff) format("woff"), url(../assets/Umbasoft/umbasoft-scmediumdemo-webfont.woff) format("woff"), url(../assets/Umbasoft/umbasoft-scregulardemo-webfont.woff) format("woff"), url(../assets/Umbasoft/umbasoft-scthindemo-webfont.woff) format("woff");
}

.umbasoft{
  font-family: Umbasoft;
}

@font-face {
  font-family: Vanilla;
  src: url(../assets//Vanilla/vanillaright-webfont.woff) format("woff");
}

.vanilla{
  font-family: Vanilla;
}

@font-face {
  font-family: Velline;
  src: url(../assets/Velline/velline-webfont.woff) format("woff");
}

.velline{
  font-family: Velline;
}

@font-face {
  font-family: Willson;
  src: url(../assets/Willson/willsonpersonaluse-wyq89-webfont.woff) format("woff");
}

.willson{
  font-family: Willson;
}

@font-face {
  font-family: ZerafontsAristotelica;
  src: url(../assets/Zerafonts_Aristotelica/zetafonts_-_aristotelica_display_extralight-webfont.woff) format("woff"), url(../assets/Zerafonts_Aristotelica/zetafonts_-_aristotelica_icons_demibold-webfont.woff) format("woff"), url(../assets/Zerafonts_Aristotelica/zetafonts_-_aristotelica_small_caps_hairlin-webfont.woff) format("woff"), url(../assets/Zerafonts_Aristotelica/zetafonts_-_aristotelica_text_extralight-webfont.woff) format("woff");
}

.zerafontsaristotelica{
  font-family: ZerafontsAristotelica;
}

@font-face {
  font-family: ZerafontsEastman;
  src: url(../assets/Zerafonts_Eastman/zetafonts_-_eastman_alternate_regular_offset-webfont.woff) format("woff"), url(../assets/Zerafonts_Eastman/zetafonts_-_eastman_alternate_regular_offset_italic-webfont.woff) format("woff"), url(../assets/Zerafonts_Eastman/zetafonts_-_eastman_regular_offset-webfont.woff) format("woff"), url(../assets/Zerafonts_Eastman/zetafonts_-_eastman_regular_offset_italic-webfont.woff) format("woff");
}

.zerafontseastman{
  font-family: ZerafontsEastman;
}